/* ============================= */
/* =========== Reset =========== */
/* ============================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 28px !important;
}

h2 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alike";
}

p {
  font-family: "Open Sans";
  font-size: 12px;
}

main {
  margin: auto;
  width: 100%;
}

/* ============================ */
/* ========== Header ========== */
/* ============================ */
header {
  background-color: #e8eff7;
  margin-bottom: 50px;
  padding: 30px;
  width: 100%;
}

nav {
  /* margin-top: 30px; */
  margin-bottom: 60px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li p {
  text-transform: uppercase;
  font-size: 12px;
}

nav li:last-child {
  background-color: #e9b14c;
  border-radius: 30px;
}

nav li {
  padding: 10px;
  transition: all 0.7s;
}

nav li:hover {
  background-color: #f8d697;
  border-radius: 30px;
  cursor: pointer;
}

/* =========================== */
/* ========== Intro ========== */
/* =========================== */

.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

/* ================================== */
/* ========== Project List ========== */
/* ================================== */

.project-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: auto;
  /* outline: 1px solid red; */
}

.project-list h2 {
  font-size: 28px;
}

.project {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 20px;
  align-items: left;
  width: 95%;
  /* max-width: 375px; */
  /* height: 660px; */
  /* outline: 1px solid red; */
}

.project h3 {
  text-align: center;
  margin-bottom: 40px;
}

.project img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.328));
  transition: all 0.7s;
}

.project img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px #add0f8);
  box-shadow: 0 0 20px 1px rgba(51, 51, 51, 0.391);
}

.project p {
  font-size: 16px;
  line-height: 1.5;
}

.project-description {
  margin-bottom: 30px;
}

.skill-set p {
  margin: 0 auto 16px auto;
}

.skill-set span {
  font-weight: bold;
}

.project button {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 30px;
  background-color: #e9b14c;
  color: #000;
  display: block;
  margin: 40px auto;
  width: 50%;
  max-width: 250px;
  padding: 12px;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.7s;
}

.project button:hover {
  color: #fff;
}

.project button:before {
  position: absolute;
  content: "";
  background-color: #f8d697;
  border-radius: 30px;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.7s;
}

.project button:hover:before {
  left: 0;
}

/* skills */

.skills {
  background-color: #e8eff7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 20px; */
  /* margin-bottom: 80px; */
  padding-top: 60px;
  padding-bottom: 80px;
  gap: 40px;
  width: 100%;
}

.skills h3 {
  font-size: 28px;
}

.skills h4 {
  font-size: 20px;
}

/* developer skill & tech stack */

.developer-skills,
.tech-stack {
  width: 85%;
}

.developer-skills h4,
.tech-stack h4 {
  margin-bottom: 20px;
}
.developer-skills p,
.tech-stack p {
  position: relative;
  overflow: hidden;
  background: #e9b14c;
  font-size: 18px;
  margin-bottom: 16px;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.7s;
}

.developer-skills p:hover,
.tech-stack p:hover {
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.developer-skills p:before,
.tech-stack p:before {
  position: absolute;
  content: "";
  background-color: #f8d697;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.7s;
}

.developer-skills p:hover:before,
.tech-stack p:hover:before {
  border-radius: 5px;
  left: 0;
}

/* .tech-stack {
  margin-bottom: 80px;
} */

/* About me */

.about-me {
  width: 100%;
  /* background-color: #f8d697; */
  padding-bottom: 80px;
  margin-top: 80px;
}

.img-wrapper {
  width: 85%;
  margin: auto;
}

.about-me img {
  background-color: #000;
  width: 100%;
  min-width: 330px;
  height: 500px;
  margin: auto;
  object-fit: cover;
}

.about-me-body {
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  line-height: 1.5;
}

.about-me-body h2 {
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}

.about-me-body h3 {
  font-size: 20px;
  text-align: center;
}

.about-me-body h4 {
  font-size: 16px;
}

.about-me-body p {
  font-size: 16px;
  text-align: justify;
}

.about-me-body p:last-child {
  font-weight: bold;
  margin-right: auto;
}

footer {
  background-color: #e8eff7;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 80px;
  padding-top: 80px;
}

footer .contact p,
footer .meet-up p {
  font-size: 16px;
  margin: 8px;
  text-align: center;
}

footer .social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

footer h2,
footer .contact,
footer .social-media,
footer .meet-up,
footer .copyright {
  margin-bottom: 30px;
}

footer h2,
footer .meet-me {
  font-size: 28px;
}

footer h3,
footer .follow-me {
  font-size: 24px;
}

i {
  font-size: 30px;
}

footer .copyright {
  font-size: 16px;
}
