/* ============================= */
/* =========== Reset =========== */
/* ============================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* ==================================== */
/* ========== General Styles ========== */
/* ==================================== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alike";
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

main {
  margin: auto;
  width: 100%;
}

/* ============================ */
/* ========== Header ========== */
/* ============================ */

header {
  background-color: #e8eff7;
  margin-bottom: 50px;
  padding: 30px;
  width: 100%;
}

nav {
  margin-bottom: 60px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li p {
  text-transform: uppercase;
  font-size: 12px;
}

nav li:last-child {
  background-color: #e9b14c;
  border-radius: 30px;
}

nav li {
  padding: 10px;
  transition: all 0.7s;
}

nav li:hover {
  background-color: #f8d697;
  border-radius: 30px;
  cursor: pointer;
}

/* =========================== */
/* ========== Intro ========== */
/* =========================== */

.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.intro h1 {
  font-size: 28px !important;
}

.intro h2 {
  font-size: 20px;
}

/* ================================== */
/* ========== Project List ========== */
/* ================================== */

.project-list {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.project-list-wrapper h2 {
  font-size: 28px;
  margin-top: 80px;
  text-align: center;
}

.project {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 20px;
  align-items: left;
  margin: auto;
  width: 95%;
}

.project h3 {
  margin-bottom: 20px;
  text-align: center;
}

.project img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.328));
  transition: all 0.7s;
}

.project img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 10px #add0f8);
  box-shadow: 0 0 20px 1px rgba(51, 51, 51, 0.391);
}

.project p {
  font-size: 16px;
  line-height: 1.5;
}

.project-description {
  margin-bottom: 30px;
}

.skill-set span {
  font-weight: bold;
}

.project button {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 30px;
  background-color: #e9b14c;
  color: #000;
  display: block;
  margin: 40px auto;
  width: 50%;
  max-width: 250px;
  padding: 12px;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.7s;
}

.project button:hover {
  color: #fff;
}

.project button:before {
  position: absolute;
  content: "";
  background-color: #f8d697;
  border-radius: 30px;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.7s;
}

.project button:hover:before {
  left: 0;
}

/* =========================== */
/* ========= skills ========== */
/* =========================== */

.skills-wrapper {
  background-color: #e8eff7;
  padding-bottom: 80px;
}

.skills-wrapper h3 {
  font-size: 28px;
  margin-bottom: 40px;
  padding-top: 16px;
  text-align: center;
}

.skills {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  width: 100%;
}

.skills h4 {
  font-size: 20px;
}

/* ================================================== */
/* ========== developer skill & tech stack ========== */
/* ================================================== */

.developer-skills,
.tech-stack {
  width: 85%;
}

.developer-skills h4,
.tech-stack h4 {
  margin-bottom: 20px;
}

.developer-skills p,
.tech-stack p {
  position: relative;
  overflow: hidden;
  background: #e9b14c;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.7s;
}

.developer-skills p:hover,
.tech-stack p:hover {
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.developer-skills p:before,
.tech-stack p:before {
  position: absolute;
  content: "";
  background-color: #f8d697;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.7s;
}

.developer-skills p:hover:before,
.tech-stack p:hover:before {
  border-radius: 5px;
  left: 0;
}

/* ============================== */
/* ========== About me ========== */
/* ============================== */

.about-me {
  margin-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.img-wrapper {
  width: 85%;
  margin: auto;
}

.about-me img {
  background-color: #000;
  width: 100%;
  min-width: 330px;
  height: 500px;
  margin: auto;
  object-fit: cover;
}

.about-me-body {
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  line-height: 1.5;
}

.about-me-body h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.about-me-body h3 {
  font-size: 20px;
  text-align: center;
}

.about-me-body h4 {
  font-size: 16px;
}

.about-me-body p {
  font-size: 16px;
  text-align: justify;
}

.about-me-body p:last-child {
  font-weight: bold;
  margin-right: auto;
}

/* ============================ */
/* ========== Footer ========== */
/* ============================ */

footer {
  background-color: #e8eff7;
}

footer h2 {
  padding-top: 80px;
  text-align: center;
}

.footer-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px;
  text-align: center;
}

.hire-me-container,
.follow-me-container,
.meet-up-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

footer .contact p,
footer .meet-up p {
  font-size: 16px;
  margin: 8px;
  text-align: center;
}

footer .social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

footer .contact,
footer .social-media,
footer .meet-up,
footer .copyright {
  margin-bottom: 30px;
}

footer h2 {
  margin-bottom: 60px;
}

footer h2,
footer .meet-me {
  font-size: 28px;
}

footer h3,
footer .follow-me {
  font-size: 24px;
}

i {
  font-size: 30px;
}

footer .copyright {
  font-size: 16px;
  text-align: center;
  padding-bottom: 60px;
}

/* ===================================================================================================================== */
/* ================================================ Media Queries ====================================================== */
/* ===================================================================================================================== */

@media only screen and (min-width: 768px) {
  /* ============================ */
  /* ========== Header ========== */
  /* ============================ */

  header {
    margin-bottom: 120px;
  }
  nav {
    margin-bottom: 80px;
  }
  nav ul {
    justify-content: space-evenly;
  }

  nav li p {
    font-size: 16px;
  }

  /* =========================== */
  /* ========== Intro ========== */
  /* =========================== */

  .intro h1 {
    font-size: 40px !important;
    margin-bottom: 80px;
  }

  .intro h2 {
    font-size: 24px;
    margin-bottom: 80px;
    width: 80%;
  }

  /* ================================== */
  /* ========== Project List ========== */
  /* ================================== */

  .project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }

  .project-list-wrapper h2 {
    margin-top: 120px;
    padding-bottom: 80px;
  }

  .project {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
    width: 22rem;
    height: 40%;
  }

  .project button {
    min-width: 200px;
    width: 100%;
    margin-top: 0px;
    padding: 14px;
    font-size: 18px;
  }

  .project-description {
    margin-bottom: 30px;
  }

  .project-description-wrapper {
    margin-bottom: 0;
    padding: 20px;
  }

  /* =========================== */
  /* ========= skills ========== */
  /* =========================== */

  .skills-container,
  .tech-stack-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .skills-wrapper {
    padding-bottom: 120px;
  }

  .skills-wrapper h3 {
    font-size: 28px;
  }

  .skills h4 {
    font-size: 20px;
  }

  /* ================================================== */
  /* ========== developer skill & tech stack ========== */
  /* ================================================== */

  .developer-skills h4,
  .tech-stack h4 {
    margin-bottom: 30px;
  }

  /* ============================== */
  /* ========== About me ========== */
  /* ============================== */

  .img-wrapper {
    width: 40%;
  }

  .about-me {
    padding: 120px 0;
  }

  .about-me-body {
    width: 70%;
  }

  .about-me-body h2 {
    font-size: 32px;
    margin: 80px auto;
  }

  .about-me-body h3 {
    margin-bottom: 60px;
  }

  /* ============================ */
  /* ========== Footer ========== */
  /* ============================ */

  footer h2 {
    font-size: 32px;
    margin-bottom: 80px;
    padding-top: 120px;
  }

  .footer-wrapper {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 80px;
  }

  footer .copyright {
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 992px) {
  .project {
    width: 25rem;
  }
}

@media only screen and (min-width: 1200px) {
  /* ============================ */
  /* ========== Header ========== */
  /* ============================ */

  header {
    margin-bottom: 140px;
  }

  nav ul {
    justify-content: flex-end;
  }

  /* =========================== */
  /* ========== Intro ========== */
  /* =========================== */

  .intro {
    margin-bottom: 40px;
  }

  .intro h1 {
    font-size: 64px !important;
    margin-bottom: 0;
  }

  .intro h2 {
    font-size: 32px;
    margin-top: 0;
  }

  /* ================================== */
  /* ========== Project List ========== */
  /* ================================== */

  .project-list-wrapper {
    width: 90%;
    margin: 140px auto 80px auto;
  }

  .project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .project-list-wrapper h2 {
    font-size: 40px;
    margin-top: 140px;
  }
  .project {
    width: 21rem;
    gap: 40px;
  }

  /* =========================== */
  /* ========= skills ========== */
  /* =========================== */

  .skills-wrapper {
    padding-bottom: 140px;
  }

  .skills-wrapper h3 {
    font-size: 40px;
  }

  /* ================================================== */
  /* ========== developer skill & tech stack ========== */
  /* ================================================== */

  .developer-skills h4,
  .tech-stack h4 {
    margin-bottom: 30px;
  }

  /* ============================== */
  /* ========== About me ========== */
  /* ============================== */

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
    width: 87%;
    margin: 140px auto 160px auto;
  }
  .about-me-body {
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    gap: 10px;
  }

  .about-me-body h2 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .about-me-body h3 {
    font-size: 32px;
    margin-bottom: 40px;
    text-align: justify;
  }

  .about-me-body p {
    font-size: 20px;
  }

  /* ============================ */
  /* ========== Footer ========== */
  /* ============================ */

  footer h2 {
    padding-top: 160px;
  }

  .footer-wrapper {
    padding-bottom: 40px;
  }

  footer .contact p,
  footer .meet-up p,
  footer .copyright {
    font-size: 20px;
  }

  footer .copyright {
    padding-bottom: 140px;
  }
}

@media only screen and (min-width: 1400px) {
  .project-list-wrapper {
    margin: auto;
  }

  .project {
    width: 25rem;
  }
}
